
.product-card {
    width: 30vw; 
    margin-bottom: 50px;
     overflow: hidden;
     margin-left: 10%; 
  }
  
  .card-image {
    width: 100%; /* Ajusta el tamaño de la imagen para llenar completamente la tarjeta */
    height: auto; 
    object-fit: cover; 
  }
  
  .card-body {
    padding: 1rem; 
  }
  
  .card-title {
    font-size: 1.2rem; /* Ejemplo de tamaño de fuente para el título */
    margin-bottom: 1rem; /* Espaciado opcional entre el título y el contenido */
  }
  
  .text-start {
    text-align: left; 
  }
  
  .text-end{
    text-align: right; 
    background-color: #db141b;
 
  }
  
  
  .custom-carousel {
    position: relative;
    overflow-x: hidden; 
  }
  
  