* {
    padding: 0;
    margin: 0;
}

.footer-ban {
    background-color: black;
    margin: 0;
    padding: 0;
    display: block;
}

.footer-text {
    color: blue;
    margin: 0;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}